
<!-- <h1>RH Tristone </h1> -->

<div class="row">

	<div class="col-lg-12 text-center">
		<!-- <img src="images/logo.jpg"> -->
		
			<br><br><br><br><br><br><br><br><br>
			<p style="font-size:100px">RH Tristone</p>
			<hr>
		
	</div>
</div>

<!--
<div class="row">

	<div class=" col-lg-12">

		<h2> {{area}} <span>Lista de Clientes:</span></h2>
		<hr>
		
	</div>

	
	<any ng-repeat="cli in clientes">
		<div  class="col-md-3" >
	              <div class="wrimagecard wrimagecard-topimage">
	                  
	                  <div class="wrimagecard-topimage_header" >
	                    <center>
	                        <img src="factory-128.png" class="center-block img-responsive">
	                        
	                        <h3>{{cli.cliente}}</h3>
	                        
	                        <h4>
	                        	<a href="#/detalleCli/{{cli.nombre}}">
		                            <div id="" class="notice notice-success">
		                                <strong></strong> Seleccionar <span></span>
		                            </div>
	                            </a>
	                        </h4>
	                    </center>
	                  </div>
	                  
	              </div>
	    </div>
    </any>


</div>

-->

