<h2>
	<button type="button" onclick="goBack()" class="btn btn-labeled btn-default">
                <span class="btn-label">
                	<i class="glyphicon glyphicon-chevron-left"></i>
                </span>&nbspRegresar
    </button>
	
</h2>

<hr>

<h2>Selecciona tu horario: </h2>

<div class="row">
	<div class="col-lg-4 text-center"></div>
	<div class="col-lg-4 text-center">
		<select id="company" class="form-control">
      		<option>HORARIO A</option>
      		<option>HORARIO B</option>
      		<option>HORARIO C</option>
    	</select> 
	</div>
	<div class="col-lg-4 text-center"></div>
</div>


<hr>

<div class="row">

	<div  class="col-md-4" >
		    <div class="wrimagecard wrimagecard-topimage">
		                  
		                  <div class="wrimagecard-topimage_header" >
		                    <center>
		                        <!--<img src="factory-128.png" class="center-block img-responsive">-->

		                        <h3>HORARIO A</h3>
		                        
		                        <h4>
		                        	<a href="#/addEmpleado/{{area}}/{{cli}}/{{cel}}/{{turno}}/{{horario}}">
			                            <div id="" class="notice notice-success">
			                                <strong></strong> Seleccionar <span></span>
			                            </div>
		                            </a>
		                        </h4>
		                    </center>
		                  </div>
		    </div>
	</div>

	<div  class="col-md-4" >
		    <div class="wrimagecard wrimagecard-topimage">
		                  
		                  <div class="wrimagecard-topimage_header" >
		                    <center>
		                        <!--<img src="factory-128.png" class="center-block img-responsive">-->

		                        <h3>HORARIO B</h3>
		                        
		                        <h4>
		                        	<a href="#/detalleCli/{{area}}/{{cli.id}}">
			                            <div id="" class="notice notice-success">
			                                <strong></strong> Seleccionar <span></span>
			                            </div>
		                            </a>
		                        </h4>
		                    </center>
		                  </div>
		    </div>
	</div>


	<div  class="col-md-4" >
		    <div class="wrimagecard wrimagecard-topimage">
		                  
		                  <div class="wrimagecard-topimage_header" >
		                    <center>
		                        <!--<img src="factory-128.png" class="center-block img-responsive">-->

		                        <h3>HORARIO C</h3>
		                        
		                        <h4>
		                        	<a href="#/detalleCli/{{area}}/{{cli.id}}">
			                            <div id="" class="notice notice-success">
			                                <strong></strong> Seleccionar <span></span>
			                            </div>
		                            </a>
		                        </h4>
		                    </center>
		                  </div>
		    </div>
	</div>

</div>

